/* ===== CONTENEDOR ===== */
.tareas-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* ===== COLUMNA ===== */
.columna {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.columna h6 {
  font-weight: 700;
  margin-bottom: 10px;
}

/* ===== LISTA ===== */
.lista {
  min-height: 150px;
}

/* ===== ITEM ===== */
.tarea-item {
  background: #f9fafb;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: grab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.tarea-item:hover {
  background: #eef2ff;
}

/* ===== BOTÓN CHECK ===== */
.btn-check {
  background: #4caf50;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.asistencia-container {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.asistencia-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.asistencia-lista {
  display: grid;
  gap: 10px;
}
#lista-asistencia .row:hover {
    background: #f5f5f5;
}
.asistencia-item {
  display: flex;
  width: 550px;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 8px;
  background: #f9fafb;
  transition: 0.2s;
}

.asistencia-item:hover {
  background: #eef2ff;
}

/* BADGES */
.badge-presente {
  background: #d1fae5;
  color: #065f46;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.75rem;
}

.badge-manual {
  background: #dbeafe;
  color: #1e40af;
}

.badge-ausente {
  background: #fee2e2;
  color: #991b1b;
}

/* BOTÓN */
.btn-asistencia {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
}

.acciones {
  display: flex;
  gap: 8px;
}

.btn-check {
  background: #22c55e;
  color: white;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

.btn-ausente {
  background: #dc2626;
  color: white;
  border-radius: 50%;
  padding: 6px 10px;
  cursor: pointer;
}

.texto-completado {
  color: #fff; /* gris suave */
  text-decoration: line-through;
  background-color: #065f4662;
  padding: 15px;
  border-radius: 20px;
  font-weight: 700;
}

.texto-ausente {
  color: #fff; /* gris más claro */
  background-color: #dc7b2662;
  padding: 15px;
  border-radius: 20px;
  font-weight: 700;
}

.tabs .tab a {
  color: #1976d2;
  font-weight: 500;
}

.tabs .tab a.active {
  color: #0d47a1;
  font-weight: bold;
}
